@import url(./fonts.css);

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

header {
    padding: 2vh 20vw;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #21242E;
    --secondary-color: #FA573A;
}

.user-related-and-contacts {
    background-color: var(--primary-color);
}

nav ul {
    display: flex;
    list-style: none;
}

.logo-rovers {
    height: 3vh;
}

.navigation div i {
    display: none;
}

.home {
    color: var(--secondary-color);
}

.user-related-and-contacts nav ul {
    display: flex;
    justify-content: space-between;
}

.user-related-and-contacts nav ul li {
    font-size: 1.2em;
}

.user-related-and-contacts nav ul li a {
    color: white;
}

.user-related-and-contacts nav ul li a i {
    color: var(--secondary-color);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation nav ul {
    display: flex;
    justify-content: space-between;
    gap: 1.5vw;
}

#hero-section {
    background-image: url("../images/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#hero-section div {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    padding: 20vh 20vw;
    gap: 10px;
    align-items: flex-start;
}

#hero-section div>a {
    color: white;
    padding: 2vh;
    background-color: var(--secondary-color);
}

.social-icons {
    display: flex;
    gap: 1.4vw;
}

#hero-section nav i {
    color: white;
    font-size: 2.3em;
}

#hero-section div h1,
#hero-section div h3 {
    color: white;
}

#hero-section div h2 {
    color: var(--secondary-color);
}

.services {
    display: flex;
}

.services i {
    color: var(--secondary-color);
}

#services,
#about-us {
    padding: 0 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services>h1,
#about-us>h1 {
    position: relative;
    text-align: center;
    padding: 1vh 0;
    border-bottom: 2px solid var(--secondary-color);
}

#services>h1::before,
#about-us>h1::before {
    content: "X";
    position: absolute;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 0.8em;
    transform: translate(-50%, 50%);
    top: 50%;
    left: 50%;
}

.services article {
    border-left: 1px solid rgba(103, 101, 101, 0.4);
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.services article h1 {
    align-self: self-start;
    border: 1px solid var(--secondary-color);
    aspect-ratio: 1 / 1;
    text-align: center;
    padding: 1vh;
    font-size: 1.5em;
}

.services article h2 {
    font-weight: 800;
    font-size: 1em;
}

.read-more {
    color: var(--secondary-color);
    font-weight: bold;
}

span {
    color: var(--secondary-color);
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2vh;
}

footer p {
    color: white;
}

.about-us-image {
    width: 100px;
}

#about-us .read-more {
    color: white;
    background-color: var(--secondary-color);
}

#about-us {
    padding: 0 20vw;
}

.about-us {
    margin: 4vh;
    display: flex;
    gap: 2vw;
    margin-bottom: 20vh;
}

.about-us>img {
    border: 1px solid var(--secondary-color);
}

.about-us>* {
    flex: 1;
}

.history {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.history h2,
.history h1 {
    font-size: 1em;
}

.history h2 {
    color: var(--secondary-color);
    font-weight: 600;
}

.history h1 {
    font-weight: bold;
    font-weight: 800;
}

.history a {
    align-self: self-start;
    padding: 15px;
    font-weight: 500;
}